<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Icon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <p>Learn more from Jami at <a href="https://jamibot.com" target="_blank">jamibot.com</a>.</p>

    <p>Default</p>
    <ion-icon name="add-circle-outline"></ion-icon>

    <p>Different Sizes</p>
    <ion-icon name="add-circle-outline"></ion-icon>
    <ion-icon name="add-circle-outline" size="large"></ion-icon>
    <ion-icon name="add-circle-outline" size="small"></ion-icon>
    <ion-icon name="add-circle-outline" class="custom-icon"></ion-icon>

    <p>Different Colors</p>
    <ion-icon name="add-circle-outline" color="primary"></ion-icon>
    <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
    <ion-icon name="add-circle-outline" color="danger"></ion-icon>
    <ion-icon name="add-circle-outline" color="light"></ion-icon>
    <ion-icon name="add-circle-outline" color="dark"></ion-icon>

    <p>Different Symbols</p>
    <ion-icon name="text"></ion-icon>
    <ion-icon name="videocam"></ion-icon>

    <p>Use in a button</p>
    <ion-button>
      <ion-icon name="text"></ion-icon>
    </ion-button>

    <p>Configure IOS or MD</p>
    <ion-icon name="ios-videocam"></ion-icon>
    <ion-icon name="md-videocam"></ion-icon>

  </div>
</ion-content>
